<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor Sign-Up</title>
</head>
<body>
    <form action="/signup/enroll" method="POST" >
        
        <label for="password">Password to become Contributor</label>
        <input id="password" name="password" type="password" />
        
        <button type="submit">Enroll</button>
    </form>
</body>
</html>