<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <!-- <link rel="stylesheet" type ="text/css" href="/style.css"/> -->
</head>
<body>
    <form action="/signup" method="POST">
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" type="text" />
        
        <label for="lastname">Last Name</label>
        <input id="lastname" name="lastname" type="text" />

        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>